article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.summer {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  .summer-item {
    width: 100%;
    padding: 18.4vw 6.6vw 14.26vw;
    box-sizing: border-box;
    background: url("@/assets/event/SummerPhrases/summer__product--bg.jpg") repeat top left / cover;

    &__thumbnail {
      position: relative;
      width: 86.87vw;
      height: 103.93vw;
      margin: 0 auto 13.4vw;
    }

    &__mark {
      position: absolute;
      top: -1.06vw;
      left: -2.39vw;
      width: 33.26vw;
      height: 28vw;
      z-index: 1;
    }

    &__name {
      margin-bottom: 5.86vw;
      color: #47b4ca;
      font: 9.06vw / 1.25 $weight-800;
      letter-spacing: -0.5vw;
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5.06vw;
    }

    &__org-price {
      position: relative;
      color: #b5b5b5;
      font: 4.8vw / 1.5 $weight-600;
      letter-spacing: -0.1vw;

      &:before {
        content: '';
        position: absolute;
        top: 2.6vw;
        right: -1.9vw;
        width: 1.6vw;
        height: 0.26vw;
        background: #b5b5b5;
        transform: rotate(45deg);
      }

      &:after {
        content: '';
        position: absolute;
        top: 3.13vw;
        left: -0.26vw;
        width: 17vw;
        height: 0.26vw;
        background: #b5b5b5;
      }
    }

    &__price {
      padding: 0 1.6vw 0 2.6vw;
      color: #1e1e1e;
      font: 6.66vw / 1.5 $weight-600;
      letter-spacing: -0.1vw;

      &--discount {
        color: #47b4ca;
        font: 5.33vw / 1.5 $weight-600;
        letter-spacing: -0.1vw;
      }
    }

    &__text {
      margin-bottom: 9.33vw;
      color: #424242;
      font: 4.26vw / 1.5 $weight-400;
      letter-spacing: -0.1vw;
    }

    &__buy {
      width: 77.17vw;
    }
  }
}
.swiper-backface-hidden .swiper-slide {
  display: flex;
  flex-direction: column;
}
.comment-write {
  background: url("@/assets/event/SummerPhrases/summer__comment.jpg") repeat top left / cover;
  &__box {
    padding: 96vw 5.14vw 25.06vw;
    color: white;
    font: 9.33vw / 1.75 $weight-800;
    letter-spacing: -0.5vw;
    text-align: center;
    input[type='text'] {
      width: 45.48vw;
      height: 12.8vw;
      padding: 3.73vw 3.73vw 2.66vw;
      margin-right: 3.2vw;
      border-radius: 0;
      border: none;
      color: #181818;
      font: 4.26vw / 1.5 $weight-700;
      vertical-align: middle;
      box-sizing: border-box;
      &::placeholder {
        color: $grey50;
      }
    }
    &--entrance {
      width: 89.6vw;
      margin: 0 auto 94.66vw;
    }
  }
}
.summer__comment-read {
  padding: 11.73vw 0 14.66vw;
  background: #0184C8;
  &--title {
    width: 66.66vw;
    margin-bottom: 9.6vw;
  }
  &--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.73vw 2.4vw;
  }
  .summer-comment__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 43.46vw;
    height: 37.33vw;
    background: url("@/assets/event/SummerPhrases/summer__comment--bg.png") repeat top left / cover;
    color: #0184C8;
    font: 2.93vw / 1.5 $weight-400;
    strong {
      display: block;
      width: 30vw;
      font: 4vw / 1.25 $weight-700;
      white-space: pre-wrap;
    }
    .userid {
      font-family: $weight-700;
    }
  }
  .summer-comment__delete {
    position: absolute;
    top: 5.82vw;
    right: 5.63vw;
    width: 2.66vw;
    height: 2.66vw;
  }
}
.summer__floating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 16.26vw;
  width: 26.13vw;
  height: 26.13vw;
  z-index: 100;
  &--close {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.2vw;
    height: 3.2vw;
    z-index: 100;
  }
}

.webLayout {
  .summer {
    .summer-item {
      padding: 140px 50px 106px;
      &__thumbnail {
        width: 652px;
        height: 780px;
        margin: 0 auto 100px;
      }
      &__mark {
        top: -8px;
        left: -16px;
        width: 250px;
        height: 210px;
      }

      &__name {
        margin-bottom: 44px;
        font: 68px / 1.25 $weight-800;
        letter-spacing: -0.5px;
      }

      &__info {
        margin-bottom: 38px;
      }

      &__org-price {
        font: 36px / 1.5 $weight-600;
        letter-spacing: -0.1px;

        &:before {
          top: 19px;
          right: -14px;
          width: 12px;
          height: 1px;
        }

        &:after {
          top: 23px;
          left: -1px;
          width: 126px;
          height: 1px;
        }
      }

      &__price {
        padding: 0 12px 0 19px;
        font: 50px / 1.5 $weight-600;
        letter-spacing: -0.1px;

        &--discount {
          font: 40px / 1.5 $weight-600;
          letter-spacing: -0.1px;
        }
      }

      &__text {
        margin-bottom: 70px;
        font: 32px / 1.5 $weight-400;
        letter-spacing: -0.1px;
      }

      &__buy {
        width: 578px;
      }
    }
  }
  .comment-write {
    &__box {
      padding: 720px 40px 188px;
      font: 70px / 1.75 $weight-800;
      letter-spacing: -0.5px;
      input[type='text'] {
        width: 287px;
        height: 76px;
        padding: 28px 28px 20px;
        margin-right: 24px;
        font: 32px / 1.5 $weight-700;
      }
      &--entrance {
        width: 672px;
        margin: 0 auto 710px;
      }
    }
  }
  .summer__comment-read {
    padding: 11.73vw 0 14.66vw;
    &--title {
      width: 66.66vw;
      margin-bottom: 9.6vw;
    }
    &--grid {
      gap: 3.73vw 2.4vw;
    }
    .summer-comment__list {
      width: 43.46vw;
      height: 37.33vw;
      font: 2.93vw / 1.5 $weight-400;
      strong {
        width: 30vw;
        font: 4vw / 1.25 $weight-700;
      }
    }
    .summer-comment__delete {
      top: 5.82vw;
      right: 5.63vw;
      width: 2.66vw;
      height: 2.66vw;
    }
  }
  .summer__floating {
    top:  130px;
    right: 50%;
    width: 160px;
    height: 160px;
    margin-right: -350px;
    &--close {
      width: 48px;
      height: 48px;
    }
  }
}
