.year22 {
  position: relative;
  line-height: 1.5;
  background: white;
  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    > li {
      width: 50%;
      height: 13.33vw;
      padding-top: 4vw;
      color: $grey60;
      font-family: $weight-600;
      font-size: 4.26vw;
      text-align: center;
      background: #111;
    }
    > li.is-active {
      color: white;
    }
  }
}
.intro {
  position: relative;
  background: white;
  &__left {
    position: absolute;
    left: 9.6vw;
    width: 44vw;
    animation: introLeft 2s infinite alternate ease-in-out;
  }
  &__right {
    position: absolute;
    top: 23.73vw;
    right: 0;
    width: 56vw;
    animation: introRight 2s infinite alternate ease-in-out;
    animation-delay: 0.2s;
  }
  &__percent {
    position: absolute;
    top: 33.33vw;
    left: 3.73vw;
    width: 18.13vw;
    height: 18.13vw;
    z-index: 10;
  }
}
@keyframes introLeft {
  from {
    top: 33.06vw;
  }
  to {
    top: 40.8vw;
  }
}
@keyframes introRight {
  from {
    top: 23.73vw;
  }
  to {
    top: 31.73vw;
  }
}
