.layoutPadding {
  padding: 0 pxToVw(16);
}

.pageTitle {
  padding-top: pxToVw(20);
  padding-left: pxToVw(20);
  font: pxToVw(28) / pxToVw(38) $weight-700;
}
.pageDiscretion {
  padding-left: pxToVw(20);
  margin-bottom: pxToVw(8);
  font: pxToVw(14)/ pxToVw(20)x $weight-500;
  letter-spacing: -0.5px;
}

.webLayout {
  .pageTitle {
    padding-top: 0;
    padding-left: 10px;
    font: 30px / 48px $weight-700;
  }
  .pageDiscretion {
    padding-left: 10px;
    margin-bottom: 16px;
    font: 18px / 32px $weight-500;
    letter-spacing: -0.5px;
  }
}


.today {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: pxToVw(16);
    @include font(20,28,$weight-700);
    letter-spacing: - pxToVw(0.5);
  }
}
