.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100svh;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: pxToVw(18) pxToVw(16);
    background-color: white;
    border-bottom: pxToVw(1) solid $grey20;
    &__logo {
      .logo {
        width: pxToVw(100);
        height: auto;
        vertical-align: middle;
      }
    }
    &__actions {
      display: flex;
      gap: 0 pxToVw(12);

      button {
        background: none;
        border: none;
        cursor: pointer;
        width: pxToVw(24);
        height: pxToVw(24);
      }
    }
  }
  .nav {
    background-color: white;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    &__menu {
      display: flex;
      flex-wrap: nowrap;
      padding: pxToVw(13) 0 pxToVw(11);
      gap: 0 pxToVw(14);
      &::-webkit-scrollbar {
        display: none;
      }
      .nav__item {
        flex: 0 0 auto;
        &:first-of-type {
          padding-left: pxToVw(16);
        }
        &:last-of-type {
          padding-right: pxToVw(16);
        }
        a {
          display: block;
          color: $grey60;
          font: pxToVw(14) / pxToVw(20) $weight-500;
          &.router-link-active {
            color: $grey80;
          }
        }
      }
    }
  }
  > main {
    flex: 1;
    overflow-y: auto;
  }
  .tabBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: pxToVw(6) pxToVw(8);
    background: white;
    border-top: pxToVw(1) solid $grey20;
    box-sizing: border-box;
    &__item {
      img {
        vertical-align: bottom;
      }
    }
  }
}
