@import '@/styles/extend.scss';
.today {
  background: white;
  .todaySwiper {
    .swiper-slide {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,0.05);
      }
    }
    &__text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: pxToVw(34) pxToVw(25);
      > p {
        display: inline-block;
        padding: pxToVw(2) pxToVw(8) 0;
        margin-bottom: pxToVw(12);
        color: white;
        @include font(14,24,$weight-700);;
      }
      > h2 {
        color: white;
        @include font(30,38,$weight-700);
        text-shadow: 0 0 pxToVw(4) rgba(0, 0, 0, 0.25);
      }
    }
    :deep(.swiper-pagination) {
      left: inherit;
      right: pxToVw(16);
      bottom: pxToVw(16);
      width: auto;
      padding: pxToVw(4) pxToVw(12) pxToVw(1);
      background: rgba(0, 0, 0, 0.3);
      border-radius: pxToVw(20);
      color: white;
      @include font(12,18,$weight-700);
      letter-spacing: -0.5px;
    }
  }
  .gnb {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: pxToVw(10);
    @extend .layoutPadding;
    margin: pxToVw(24) 0 pxToVw(42);
    text-align: center;
    &__img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: pxToVw(8);
    }
    &__name {
      color: $grey70;
      @include font(12,16,$weight-400);
      letter-spacing: - pxToVw(0.9);
    }
  }
  .recommend {
    margin-bottom: pxToVw(60);
    &__title {
      @extend .title;
      @extend .layoutPadding;
      align-items: flex-end;
      justify-content: space-between;
      &--sponsored {
        padding-bottom: pxToVw(2);
        color: $grey40;
        @include font(11,11,$weight-400);
      }
    }
    &__container {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: pxToVw(24) pxToVw(10);
      overflow-x: auto;
      @include customScrollbar;
      :deep {
        .item {
          &:first-of-type,
          &:nth-of-type(8) {
            margin-left: pxToVw(16);
          }
          &:nth-of-type(7),
          &:last-of-type {
            margin-right: pxToVw(16);
          }
        }
      }
    }
  }
  .justOneDay {
    margin-bottom: pxToVw(60);
    &__title {
      @extend .title;
      justify-content: space-between;
      @extend .layoutPadding;
      margin-bottom: pxToVw(16);
      > h2 {
        @include font(20,28,$weight-700);
      }
    }
    .countDown {
      display: flex;
      align-items: center;
      &__icon {
        width: pxToVw(18);
        height: pxToVw(18);
        margin: 0 pxToVw(4) pxToVw(2) 0;
      }
      &__time {
        color: $ten;
        @include font(16,24,$weight-500)
      }
    }
    &__swiper {
      .swiper-slide {
        width: pxToVw(325);
        &:first-of-type {
          margin-left: pxToVw(16);
        }
        &:last-of-type {
          margin-right: pxToVw(16);
        }
      }
      .thumbnail {
        @include thumbnail(325, 178);
        margin-bottom: pxToVw(8);
      }
      .name {
        margin-bottom: pxToVw(4);
        @include font(16,24,$weight-500);
        letter-spacing: - pxToVw(0.09);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .priceBox {
        display: flex;
        align-items: center;
        padding-bottom: pxToVw(42);
        .percent {
          margin-right: pxToVw(4);
          color: $ten;
          @include font(16, 24, $weight-700);
          letter-spacing: - pxToVw(0.09);
        }
        .price {
          margin-right: pxToVw(4);
          @include font(16, 24, $weight-700);
          letter-spacing: - pxToVw(0.09);
          > span {
            @include font(14, 20, $weight-600);
          }
        }
        .orgPrice {
          color: $grey50;
          @include font(12,18,$weight-600);
          letter-spacing: - pxToVw(0.09);
          text-decoration-line: line-through;
          > span {
            @include font(12, 18, $weight-500);
          }
        }
      }
      :deep(.swiper-pagination) {
        top: inherit;
        left: pxToVw(16);
        bottom: 0;
        width: pxToVw(343);
        height: pxToVw(2);
        background: #D9D9D9;
      }
      :deep(.swiper-pagination-progressbar-fill) {
        background: $green;
      }
    }
  }
}
